---
layout: default
title:  Homepage
---

<div class="landing-lead">
    <h1 class="user_title">Hi Cal, submit a new feedback</h1>
    <div class="user">
      <img class = "user_photo" src="media/empty_user.png">
      <p class = "user_name">Cal Doval </p>
    </div>
    <div class="landing-lead_contents">
      <div class="main-input">
          <input type="text" id="title-input" placeholder="Title" />
          <textarea placeholder="Type your feedback here" id="desc-input"></textarea>
      </div>
    </div>
</div>
<div class="blog-feature">
        {% for post in site.categories.blog limit:1 %}
        <h2>
        <a href="{{ post.url | prepend: site.baseurl }}">
            <span class="blog-h">{{ post.title }}</span>
            <span class="blog-d">{{ post.description }}</span>
            <span class="blog-a">
                Read More
            </span>

        </a>

        </h2>


        {% endfor %}

</div>
<div class="landing-feature-wrapper">
    <div class="landing-feature">
        <h3>Featured Garden</h3>
        <div class="landing-feature-box">
            {% for post in site.tags.feature %}
                <div class="featured-garden-wrapper">
                    <div class="featured-garden-image">
                        <img src="/media/gardens/{{ post.imagesource }}/one.jpg" alt="">
                    </div>
                    <div class="featured-garden-text">
                        <h2>
                      <a class="post-link white-hover" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h2>
                    <p>{{ post.description }}</p>

                    {% if post.growing %}
                    <p><b>What's Growing: </b><span>{{ post.growing }}</span></p>
                    {% endif %}

                    <a href="{{ post.url | prepend: site.baseurl }}" class="learn-more">Learn More</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="more-gardens" href="/gardens"><p>Browse all Gardens</p></a>
    </div>
</div>
