<header>
  <div class="header_contents" style="width: 96%">
    <div class="left_head">
      <div class="logo_wrapper">
        <a href="http://caes.ucdavis.edu"><img class="logo" src="/media/caes_logo.svg" alt="FeedbackBot at UC Davis"></a>
        <a href="/"><img class="logo" src="/media/logo_feedbackbot.svg" alt="FeedbackBot at UC Davis"></a>
        <div class="box">
          <div class="container-1">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="text" id="main-topic-title" placeholder="Search..." />
          </div>
        </div>
        <nav id="nav" role="navigation" style="display: inline-block;float: right;">
          <a class="nav_open" href="#nav" title="Show navigation"><i class="fa fa-bars"></i></a>
          <a class="nav_close" href="#" title="Hide navigation"><i class="fa fa-times"></i></a>
          <ul id="nav_upperlevel">
            <li>
              <a href="/Answer">Answer</a>
            </li>
            <li>
              <a href="/Notifications">Notifications</a>
            </li>
            <li>
              <img class="user_photo" src="media/empty_user.png">
            </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
